Spring
M.F.1
Detects 4 out of 5 landmines in a grassy field buried to a maximum depth of 15cm

M.F.2
Correctly classifies 3 out of 5 metallic, non-landmine-shaped objects as not landmines

M.F.3
Detonates zero landmines during probing action

M.F.4
Physically marks landmine locations to an accuracy of 10cm

M.F.5
Warns user of potential hazards within 0.25s


M.N.1
Costs less than $5000

M.N.2
Able to be operated continuously for 1hr

M.N.3
Surveys land at a rate of 3 m2/min in an area known to be free of metallic objects

M.N.4
Determines whether a detection is a true or false positive within 5 minutes


D.F.1
Records landmine locations on digital map to an accuracy of 50cm

D.F.2
Records area covered by system on digital map to an accuracy of 50cm

D.F.3
Physically marks area covered to an accuracy of 10cm


D.N.1
Is able to make 180° pin turns

D.N.2
Component assemblies weigh less than 50kg


Fall
M.F.1
Detects 4 out of 5 landmines in a grassy field buried to a maximum depth of 15cm

M.F.2
Correctly classifies 2 out of 3 initial detections that are landmines as such

M.F.3
Correctly classifies 2 out of 3 initial detections that are NOT landmines as such

M.F.4
Identifies landmine locations to an accuracy of 10cm


M.N.1
Able to be operated continuously for 1hr


D.F.1
Records area covered by system on digital map to an accuracy of 50cm
